 html{
        background-color: #EEEDEC;
        background-image: url(../images/background.png);
        font-family: "Lucida Grande", sans-serif;
      }
      body {
        margin: 0;
      }

      header {
        background-color: #c4c4c4;
        padding: 10px 20px;
        border-bottom: 1px solid #848484;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        min-width: 700px;
        position: relative;
      }
      header nav {
        text-shadow: 0 1px 0 #555;
        position: absolute;
        right: 20px;
        top: 10px;
      }
      header nav ol {
        margin: 0;
        line-height: 55px;
      }
      header nav li {
        display: inline;
        margin-left: 25px;
      }
      header nav a {
        color: white;
        text-decoration: none;
      }

      main,
      footer {
        max-width: 55%;
        margin: 0 auto;
        padding: 30px;
      }

      main {
        background-color: white;
        margin-top: 40px;
        margin-bottom: 40px;
        border: 1px solid #C7C7C7;
        border-radius: 9px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      }
     main h1 {
        margin-top: 0;
      }
  

      footer {
        color: #9A989A;
        font-size: 12px;
        text-align: center;
        padding-top: 20px;
        border-top: 1px solid #cecece;
        box-shadow: inset 0 1px 1px white;
        text-shadow: 0 1px 0 white;
      }

      .first-product{
        position: relative;  
        border-bottom: 1px solid gray;
        padding-bottom: 15px;
        width: 100%;
        
      }
      .second-product{
      	margin-top:20px; 
      	  position: relative;  
        border-bottom: 1px solid gray;
        padding-bottom: 15px;
        width: 100%;

        
      }
      .third-product{
      		margin-top:20px; 
      	  position: relative;  
        border-bottom: 1px solid gray;
        padding-bottom: 15px;
        width: 100%;
        
      }
      input{
        display: block;
      	background-color: #CC3B35;
        padding: 10px 25px;
        border: 1px solid #213A82;
        text-shadow: 0 1px 0 #213A82;
        border-radius: 4px;
        color: white;
        position: absolute;
        top: 50px;
        left: 250px;
        cursor: pointer;
        
      }

     div img{
      	border: 5px solid gray;
         max-width: 100%;
         min-height: 100%;
      }

      div p{
      	
      	position: absolute;
      	top: -15px;
      	left: 250px;
      } 


nav ol li {
        margin: 20px;
    }