html{
        background-color: #EEEDEC;
        background-image: url(../images/background.png);
        font-family: "Lucida Grande", sans-serif;
      }
      body {
        margin: 0;
      }

      header {
        background-color: #c4c4c4;
        padding: 10px 20px;
        border-bottom: 1px solid #848484;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        min-width: 700px;
        position: relative;
      }
      header nav {
        text-shadow: 0 1px 0 #555;
        position: absolute;
        right: 20px;
        top: 10px;
      }
      header nav ol {
        margin: 0;
        line-height: 55px;
      }
      header nav li {
        display: inline;
        margin-left: 25px;
      }
      header nav a {
        color: white;
        text-decoration: none;
      }

      main,
      footer {
        max-width: 55%;
        margin: 0 auto;
        padding: 30px;
      }

      main {
        background-color: white;
        margin-top: 40px;
        margin-bottom: 40px;
        border: 1px solid #C7C7C7;
        border-radius: 9px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      }
     main h1 {
        margin-top: 0;
        margin-bottom: 5px;
      }
  

      footer {
        color: #9A989A;
        font-size: 12px;
        text-align: center;
        padding-top: 20px;
        border-top: 1px solid #cecece;
        box-shadow: inset 0 1px 1px white;
        text-shadow: 0 1px 0 white;
      }     
      


nav ol li {
        margin: 20px;
    }
    .forms input{
         display: block;
         width: 250px;
         margin-top: 10px;
         margin-bottom: 10px;
         border: 2px solid orange;
         box-shadow:2px 2px 0 #08E8DE;
         border-radius: 5px;
         padding: 5px 10px;
    }
    .clearfix{
      clear: both;
      height: 0;
    }
    .forms{
      float: right;
      width: 80%;

    }
    .forms-names{
      float: left;
    }
    .forms-names p{
         line-height: 22px;
         display: block;

    }